/*общие свойства*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
    background-size: 50px 50px;
  }
  /*лого в хэдере*/
  header img{
      height: 40px;
      width: 40px;
  }
  /* свойства для общей части хэдера*/
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9DD6B9;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 80px;
    padding: 1em;
  }
  /*свойства для списка хэдера*/
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /*элементы списка*/
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  /*настройки для кнопки бургера при горизонтальном формате*/
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  #menu-toggle {
    display: none;
  }
  /*три черточки бургера*/
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  /*анимация бургера*/
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: #9DD6B9;
  }
  
  /*анимация убирания бургера*/
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  a{text-decoration : none;
    color: #247049;
    font-size: large;}
  
  /*для портретного отображения*/
  @media screen and (max-width:600px){
    /*появляется кнопка*/
    .menu-button-container {
        display: flex;
        visibility: visible;
      }
      /*меняется позиция меню*/
      .menu {
        position: absolute;
        top: 0;
        margin-top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
      /*выдвигается список*/
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #9DD6B9;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #D8EFC0;
        background-color: #D8EFC0;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #9DD6B9;
      }
      a{
        color: #247049;
      }
    
  }
  body{
    margin-top: 0;
    background-color: #D8EFC0;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  }

  .head_h1{
    padding: 50px 20px;
    text-align: center;
    margin: auto;
    margin-top: 8%;
  }
  .head_h1 h1{
    position: relative;
    color: #247049;
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
  }
  .head_h1 h1:before {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #247049;
    border-left-color: transparent;
    border-right-color: transparent;
  }
 
  .text {
    padding: 60px 50px 30px 50px;
    text-align: justify;
    font-size: 30px;
    color: #247049;
    margin: 30px;
  }
  @media screen and (max-width: 600px) {
    .head_h1 h1 {font-size: 2em;
      margin-top: 8%;}
    .text {
      font-size: 20px;
    }
  }
  .canvas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#canvas {
    border: 3px solid black;
}

#score p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;

}

input[type="text" i] {
    color: #666;
    font-size: 18px;
    text-align: center;
    padding: 0 !important;
    margin-top: 18px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-col {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 700px;
    height: 60px;
    padding: 0 2% 0 2%;
    color: rgb(59, 59, 59);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    border: 1px #666 solid;
    margin-bottom: 25px;
}

.text-first-imp {
    width: 280px;
    height: 60px;
    margin-right: 10px;
}

.text-second-imp {
    width: 60px;
    margin-right: 10px;
}

.form-container div {
    display: flex;
    flex-direction: row;
}

.form-container div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container div input {
    margin-right: 10px;
    height: 22px;
    width: 150px;
}

.user {
    margin-right: 20px;
}

.dayPayment {
    width: 150px;
}


.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

.result div.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}

.result div.itogPay {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 30%;
}

.endDay {
    border: 0;
    width: 40px !important;
    height: 40px !important;
    background-image: url(../img/galka.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0, 0);
    margin: 10px 10px 0 0;
}

.endDay:hover {
    background-image: url(../img/galkaBlack.png);
}

.endDay:focus {
    outline: 0;
}

.endDay:active {
    background-image: url(../img/galka.png);
}



#endDay {
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/galka.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0, 0);
    margin: 10px 10px 0 0;
}

#endDay:hover {
    background-image: url(../img/galkaBlack.png);
}

#endDay:focus {
    outline: 0;
}

#endDay:active {
    background-image: url(../img/galka.png);
}



  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100x;
    background-color: #D8EFC0
    ;
}
footer .container
{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2{
    font-size: 40px;
    position: relative;
    color: #8C2C4E;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #8C2C4E;
}

footer .container .sec p{
    color: #fff;
}


.quicklinks{
    position: relative;
}
.quicklinks li{
    list-style: none;
}
.quicklinks li a{
    color: #247049;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover{
    color: #8C2C4E;
}
.info{
    position: relative;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color:rgb(82, 27, 73);
    font-size: 20px;
}
.info li span{
    color: rgb(26, 10, 10);
}
.info a{
    color: #247049;
    text-decoration: none;
}
.info a:hover{
    color: #8C2C4E;
}
.copyrightText{
    width: 100%;
    background-color: #D8EFC0;
    padding: 8px 100px;
    text-align: center;
    color: #8C2C4E;
}

@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyrightText{
        
        padding: 8px 40px;
        
    }
}
@media (max-width:768px){
    footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}