
/*общие свойства*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
    background-size: 50px 50px;
  }
  /*лого в хэдере*/
  header img{
      height: 40px;
      width: 40px;
  }
  /* свойства для общей части хэдера*/
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9DD6B9;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 80px;
    padding: 1em;
  }
  /*свойства для списка хэдера*/
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /*элементы списка*/
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  /*настройки для кнопки бургера при горизонтальном формате*/
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  #menu-toggle {
    display: none;
  }
  /*три черточки бургера*/
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  /*анимация бургера*/
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: #9DD6B9;
  }
  
  /*анимация убирания бургера*/
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  a{text-decoration : none;
    color: #247049;
    font-size: large;}
  
  /*для портретного отображения*/
  @media screen and (max-width:600px){
    /*появляется кнопка*/
    .menu-button-container {
        display: flex;
        visibility: visible;
      }
      /*меняется позиция меню*/
      .menu {
        position: absolute;
        top: 0;
        margin-top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }
      /*выдвигается список*/
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #9DD6B9;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #D8EFC0;
        background-color: #D8EFC0;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #9DD6B9;
      }
      a{
        color: #247049;
      }
    
  }
  body{
    margin-top: 0;
    background-color: #D8EFC0;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  }
.wrap_all{
    margin: 40px;
    }
.head_h1{
    padding: 50px 20px;
    text-align: center;
    margin: auto;
    margin-top: 8%;
  }
  .head_h1 h1{
    position: relative;
    color: #247049;
    font-size: 3em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
  }
  .head_h1 h1:before {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 200%;
    border-radius: 50%/30%;
    border: 6px solid #247049;
    border-left-color: transparent;
    border-right-color: transparent;
  }
  @media (max-width: 600px) {
    .head_h1 h1 {font-size: 2em;
      margin-top: 8%;}
    
  }
  .text {
    font-size: 30px;
    color: #247049;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }


.hover-effect-scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .hover-effect-scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 5px solid #fff;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }
  /* Заголовок, текст и ссылка */
  .hover-effect-scale li h3{
    color: #fff;
    margin: 5px;
  }
  .hover-effect-scale li p{
    color: #fff;
    margin: 5px;
  }
  .hover-effect-scale li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
  }
  .hover-effect-scale li a:hover {
    background: #454545;
    color: #fff;
  }
  /* Выезжающий блок с текстом */ 
  .hover-effect-scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hover-effect-scale li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .hover-effect-scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
  }
  .hover-effect-scale li img {
    transition: all 0.2s linear;
  }
  .hover-effect-scale li:hover img {
    transform: scale(1.3);
  }
  .hover-effect-scale li:hover div {
    opacity: 1;
  }
  .hover-effect-scale img{
    width: 300px;
    height: 300px;
  }
  .full-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: auto;

}
.full-screen-body {
    padding: 50px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}/*Заголовок для видео*/
.full-screen-title {
    color: white;
    font-size: 50px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;

}/*Текст под ним*/
.full-screen-text {
    color: white;
    font-size: 18px;
    letter-spacing: 15px;
}
.full-screen-video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 5;
}/*Текст под текстом и ссылка*/
.full-screen-cat{
    color: white;
    font-size: 18px;
    letter-spacing: 5px;
    padding: 10px;
    text-align: center;
    transform:scale(0);
    margin-top: 1%;
}
.full-screen-body:hover .full-screen-cat{
    transform: scale(1);
    transition: all 1s;
}
.full-screen-body:hover .containerforbtncat{
    transform: scale(1);
    transition: all 1s;
}
/*Кнопка Подробнее при наведении на блок с котом*/
.containerforbtncat{
    margin-top: 1%;
    position: relative;
    display: flex;
    text-align: center;
    transform: scale(0);
}
/*Текст внутри кнопки*/
.btncat{
    padding: 10px 20px;
    box-shadow:  0px 10px 20px rgba(0,0,0,0.19),
                0px 6px 6px rgba(0,0,0,0.23);
    color:white;
    cursor: pointer;
    position: relative;
    font-size: 28px;
    background-color: #1A1A1A;
    transition: all 1s;


}
/*Добавляем линии в углах*/
.btncat::before, .btncat::after{
    content: '';
    width:10px;
    height:10px;
    position: absolute;
    border: 0px solid white;
    transition: all 1s;

}
.btncat::before{
    bottom: 0px;
    right: 0px;
    border-top: 5px solid white;
    border-left:5px solid white;
    transform: rotate(180deg);
}
.btncat::after{
    top: 0px;
    left: 0px;
    border-top: 5px solid white;
    border-left:5px solid white;
}
/*РАсширяем линии при наведении*/
.btncat:hover::after, .btncat:hover::before{
width: 98%;
height: 82%;
}
/*При нажатии на конпку делаем фон белым, текст черным*/
.btncat:active{
    transition: 0.1s;
    background-color: white;
    color:black
    
}
@media screen and (max-width:1200px) {
    .full-screen{
        width: 70%;
    }
    .full-screen-title{
        font-size: 36px;
        letter-spacing: 0;
    }
    .full-screen-text{
        letter-spacing: 0;
        text-align: center;
    }
    .btncat{
        font-size: 10px;
    }
    .btncat:hover::after, .btncat:hover::before{
        width: 95%;
        height: 85%;
        }
}
@media screen and (max-width:600px) {
  .full-screen{
      width: 100%;
  }
  .full-screen-title{
      font-size: 36px;
      letter-spacing: 0;
  }
  .full-screen-text{
      letter-spacing: 0;
      text-align: center;
  }
  .btncat{
      font-size: 10px;
  }
  .btncat:hover::after, .btncat:hover::before{
      width: 95%;
      height: 85%;
      }
}
  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100x;
    background-color: #D8EFC0;
}
footer .container
{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2{
    font-size: 40px;
    position: relative;
    color: #8C2C4E;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #8C2C4E;
}

footer .container .sec p{
    color: #fff;
}


.quicklinks{
    position: relative;
}
.quicklinks li{
    list-style: none;
}
.quicklinks li a{
    color: #247049;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li a:hover{
    color: #8C2C4E;
}
.info{
    position: relative;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color:rgb(82, 27, 73);
    font-size: 20px;
}
.info li span{
    color: rgb(26, 10, 10);
}
.info a{
    color: #247049;
    text-decoration: none;
}
.info a:hover{
    color: #8C2C4E;
}
.copyrightText{
    width: 100%;
    background-color: #D8EFC0;
    padding: 8px 100px;
    text-align: center;
    color: #8C2C4E;
}

@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .copyrightText{
        
        padding: 8px 40px;
        
    }
}
@media (max-width:768px){
    footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}